<div id="todo_items_wrapper" style="padding: 2em;">
  <h2 class="todo_list_title">TODO</h2>
  <p style="text-align: center; margin: 0 0 25px;">"...just another todo application."</p>
  <button class="btn btn-landing" onclick="window.location.href = 'users/sign_up';">Sign Up</button>
  <center style="margin: 5px 0 10px;"><em>or</em></center>
  <button class="btn btn-landing" onclick="window.location.href = 'users/sign_in';">Login</button>
</div>