<div id="todo_items_wrapper">
  <h2 class="todo_list_title">TODO</h2>
  <p style="text-align: center; margin: 0 0 25px;">"...Yes. Another Todo application."</p>
  <a href="users/sign_up" style="text-decoration: none;">
    <button class="btn-land mine">Sign Up</button>
  </a>
  <center style="margin: 5px 0 10px;"><em>or</em></center>
  <a href="users/sign_in" style="display: block; text-decoration: none;">
    <button class="btn-land mine">Login</button>
  </a>
</div>